* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav-logo {
  max-width: 122px;
}
header {
  nav {
    display: flex;
    justify-content: space-between;
    background-attachment: fixed;
    padding: 20px;
  }
  p {
    font-size: 20px;
  }
}
.nav-links {
  display: flex;
  gap: 20px;
  a {
    color: black;
  }
}
.gradient-bg {
  background-image: linear-gradient(to bottom, #a8d3ff, #fff4df);
  max-height: 818px;
  padding: 20px;
}
.intro-section {
  padding-top: 140px;
  header {
    text-align: center;
    h1 {
      font-weight: normal;
      font-size: 80px;
    }
    h2 {
      font-size: 80px;
      font-weight: normal;
    }
  }
}
.intro-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 16px;
  margin-block: 32px;
  li {
    background-color: black;
    padding: 16px;
  }
  a {
    color: white;
  }
  a::before {
    content: "";
    display: inline-block;
    width: 8px;
    aspect-ratio: 1;
    background-color: white;
    margin-right: 5px;
  }
}
.hero-image {
  display: flex;
  justify-content: center;
  img {
    max-width: 100%;
  }
}
.features-section {
  padding-block: 120px;
  header {
    margin-bottom: 40px;
  }
}
.features-header {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}
.feature-image {
  img {
    max-width: 100%;
  }
}
.feature-content {
  display: flex;
  align-items: center;
  gap: 40px;
}
.feature-content {
  .feature-button {
    background-color: black;
    padding: 16px;
  }
  a {
    color: white;
  }
  a::before {
    content: "";
    display: inline-block;
    width: 8px;
    aspect-ratio: 1;
    background-color: white;
    margin-right: 5px;
  }
}
.value-section {
  padding-block: 120px;
  background-image: url(./img/value-background.png);
}
.value-header {
  text-align: center;
  margin-bottom: 40px;
  h2 {
    font-weight: normal;
    font-size: 80px;
  }
}
.value-cards {
  display: flex;
  gap: 16px;
}
.cards {
  display: grid;
  gap: 24px;
  justify-content: center;
  padding: 40px;
  border-radius: 16px;
  background-color: white;
  h2 {
    font-size: 20px;
    font-weight: 500;
  }
  p {
    font-weight: normal;
  }
}
.case-study-section {
  padding-block: 120px;
}
.case-content {
  display: flex;
  gap: 40px;
  padding-block: 20px;
  border-radius: 16px;
  background-color: #f6f8fb;
  img {
    max-width: 100%;
  }
}
.case-text {
  h2 {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
  }
  p {
    margin-bottom: 32px;
    font-weight: normal;
    font-size: 20px;
  }
  a {
    padding: 12px;
    color: white;
    background-color: black;
  }
}
.blog-section {
  display: grid;
  justify-content: center;
  h2 {
    text-align: center;
    font-weight: 500px;
    font-size: 40px;
    margin-bottom: 40px;
  }
  a {
    background-color: black;
    color: white;
    padding: 12px;
    text-align: center;
  }
}
.journal {
  display: flex;
  gap: 16px;
  border-block: 1px solid #dbe0ec;
  padding-block: 24px;
  img {
    max-width: 100%;
  }
}
.lower-journal {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 8px;
  color: #6c6c6c;
}
.journal-list {
  justify-content: center;
  max-width: 620px;
  align-items: flex-start;
}
.journal-text {
  font-weight: 500;
  font-size: 20px;
}
.testimonial {
  padding-block: 120px;
}
.testimonial-content {
  display: flex;
  gap: 16px;
  align-items: center;

  img {
    max-width: 612px;
  }
}
.testimonial-word {
  display: grid;
  gap: 56px;
  h2 {
    font-weight: 500;
    font-size: 40px;
  }
}
.testimonial-bottom-first {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
}
.testimonial-bottom-second {
  font-weight: 500;
  font-size: 20px;
  color: #6c6c6c;
}
.call-to-action {
  padding-block: 120px;
  background-color: #f6f8fb;
  display: grid;
  text-align: center;
  justify-content: center;
  gap: 32px;
  a {
    text-align: center;
    color: white;
    background-color: black;
    padding: 16px;
  }
  a::before {
    content: "";
    display: inline-block;
    width: 8px;
    aspect-ratio: 1;
    background-color: white;
    margin-right: 5px;
  }
  h4 {
    font-weight: 500;
    font-size: 40px;
  }
}
footer {
  padding-block: 20px;
  display: grid;
  gap: 20px;
  background-color: #fff546;
  img {
    max-width: 100%;
  }
}
.whole {
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
.one {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .feature-content {
    display: grid;
  }
  .intro-section {
    header {
      display: grid;
      justify-content: center;
      h1 {
        font-size: 36px;
        font-weight: 500;
      }
      h2 {
        font-size: 36px;
        font-weight: 500;
      }
      p {
        font-size: 18px;
      }
    }
  }
  header {
    .nav-links {
      display: none;
    }
  }
  .intro-header {
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 36px;
    }
  }
  .intro-buttons {
    display: grid;
  }
  .value-cards {
    display: grid;
  }
  .value-header {
    h2 {
      font-size: 36px;
    }
  }
  .case-content {
    display: grid;
  }
  .case-content {
    a {
      width: 100%;
    }
  }
  .testimonial-content {
    display: grid;
    img {
      max-width: 335px;
    }
  }
  .testimonial-word {
    h2 {
      font-size: 24px;
    }
  }
  .call-to-action {
    h4 {
      font-size: 24px;
    }
  }
  .whole {
    display: grid;
    justify-content: center;
    gap: 20px;
    div {
      display: flex;
      justify-content: space-between;
    }
  }
  footer {
    p {
      text-align: center;
    }
  }
  nav {
    padding: 20px;
    a {
      color: black;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-links {
    span {
      display: none;
    }
  }
  .feature-content {
    display: grid;
  }
  header {
    h1 {
      font-size: 64px;
    }
  }
  .call-to-action {
    h4 {
      font-size: 32px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .nav-links {
    span {
      display: none;
    }
  }
  .testimonial-text {
    padding-inline: 105px;
  }
}
