* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
p {
  font-family: "Source Serif 4", serif;
}
h2,
.nav-links > li,
.journal-text,
.testimonial-bottom-first,
footer,
.features-header,
.cards h2,
.case-text h2,
.call-to-action h4,
.value-header .value2,
a {
  font-family: "Radio Canada Big", sans-serif;
}

header h1,
header p,
.testimonial-bottom-second,
.case-text p,
.cards p,
.value-header .value1 {
  font-family: "Source Serif 4", serif;
}

.feature-button a,
.lower-journal,
.journal-list > a,
.call-to-action a,
.case-text a,
.intro-buttons li {
  font-family: "Geist Mono", monospace;
}

.ic--baseline-plus {
  display: none;
  width: 2em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.nav-logo {
  max-width: 122px;
}

header nav {
  display: flex;
  justify-content: space-between;
  background-attachment: fixed;
  padding: 20px;
  align-items: center;
}

header p {
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
}
#nav-a {
  color: black;
  background: none;
}
.nav-links a,
nav a,
footer a {
  color: black;
}

.gradient-bg {
  background-image: linear-gradient(to bottom, #a8d3ff, #fff4df);
  padding: 20px;
}

.intro-section-heading {
  padding-top: 140px;
  text-align: center;
  display: grid;
  gap: 30px;
  h1 {
    display: grid;
  }
}

.intro-section-heading .h1,
.intro-section-heading .h2 {
  font-weight: normal;
  font-size: 80px;
}
.intro-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 16px;
  margin-block: 32px;
}

a {
  background-color: black;
  padding: 16px;
}

.intro-buttons a,
.feature-content a,
.call-to-action a,
.case-text a,
.blog-section a {
  color: white;
}

.intro-buttons a::before,
.feature-content a::before,
.call-to-action a::before {
  content: "";
  display: inline-block;
  width: 8px;
  aspect-ratio: 1;
  background-color: white;
  margin-right: 10px;
}

.hero-image,
.case-study-section {
  display: flex;
  justify-content: center;
}

.hero-image img,
.feature-image img,
.journal img,
footer img {
  max-width: 100%;
}

.features-section {
  padding-block: 140px;
  min-width: 100%;
}

.features-section header {
  margin-bottom: 40px;
}
.feature-button {
  margin-top: 30px;
  a {
    display: inline-block;
  }
}
.features-header {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}
.feature-content {
  display: flex;
  gap: 40px;
  max-width: 100%;
}
.feature-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  span {
    color: #6c6c6c;
  }
  p {
    font-weight: 900;
  }
}
.feature-border {
  border-block: 1px solid #dbe0ec;
  padding-block: 25px;
}
.value-section {
  padding-block: 120px;
  background-image: url(./img/value-background.png);
}

.value-header {
  text-align: center;
  margin-bottom: 40px;
}

.value-header h2 {
  font-weight: normal;
  font-size: 80px;
}

.value-cards {
  display: flex;
  gap: 16px;
}

.cards {
  display: grid;
  gap: 24px;
  justify-content: center;
  padding: 40px;
  border-radius: 16px;
  background-color: white;
}

.cards h2,
.case-text h2 {
  font-size: 20px;
  font-weight: 500;
}

.cards p,
.case-text p {
  font-weight: normal;
}

.case-study-section,
.testimonial,
.call-to-action {
  padding-block: 120px;
}

.case-content {
  max-width: 903px;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-block: 20px;
  border-radius: 16px;
  background-color: #f6f8fb;
  align-items: center;
}

.case-content img {
  max-width: 498px;
}

.case-text {
  max-width: 403px;
}

.case-text h2 {
  margin-bottom: 16px;
}

.case-text p {
  margin-bottom: 32px;
  font-size: 20px;
}

.case-text a,
.blog-section a {
  padding: 12px;
  background-color: black;
}

.blog-section,
.journal-list,
.call-to-action {
  display: grid;
  justify-content: center;
}

.blog-section h2 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 40px;
}

.blog-section a {
  text-align: center;
}

.journal {
  display: flex;
  gap: 16px;
  border-block: 1px solid #dbe0ec;
  padding-block: 24px;
}

.lower-journal {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 8px;
  color: #6c6c6c;
}

.journal-list {
  max-width: 620px;
}

.journal-text,
.testimonial-bottom-first,
.testimonial-bottom-second {
  font-weight: 500;
  font-size: 20px;
}

.testimonial-content {
  display: flex;
  gap: 16px;
  align-items: center;
}

.testimonial-content img {
  max-width: 612px;
}

.testimonial-word {
  display: grid;
  gap: 56px;
}

.testimonial-word h2,
.call-to-action h4 {
  font-weight: 500;
  font-size: 40px;
}

.testimonial-bottom-first {
  margin-bottom: 8px;
}

.testimonial-bottom-second,
.lower-journal {
  color: #6c6c6c;
}

.call-to-action {
  background-color: #f6f8fb;
  text-align: center;
  gap: 32px;
}

.call-to-action a {
  justify-self: center;
  width: fit-content;
}

footer {
  padding: 20px;
  display: grid;
  gap: 20px;
  background-color: #fff546;
  color: #66640f;
}

.whole {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whole div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.one {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .whole > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
  .whole > div > a {
    padding: 0;
  }

  .whole > div > .get {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
  }

  .get a {
    padding: 16px;
    background-color: black;
    color: white;
  }
  .whole p {
    text-align: center;
  }

  .feature-content {
    display: grid;
  }

  .intro-section-heading {
    display: grid;
    justify-content: center;
  }

  .intro-section-heading .h1,
  .intro-section-heading .h2 {
    font-size: 36px;
    font-weight: 500;
  }

  .intro-section-heading p {
    font-size: 18px;
  }

  header .nav-links {
    display: none;
  }

  .intro-buttons,
  .value-cards,
  .case-content,
  .testimonial-content {
    display: grid;
  }

  .value-header h2 {
    font-size: 36px;
  }

  .case-content a {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  footer img {
    max-width: 100%;
    height: auto;
  }

  .case-content img,
  .case-text {
    width: 295px;
  }

  .testimonial-content img {
    max-width: 335px;
  }

  .testimonial-word h2,
  .call-to-action h4 {
    font-size: 24px;
  }

  footer p {
    text-align: center;
  }

  nav {
    padding: 20px;
  }

  .journal-list {
    display: grid;
    justify-content: center;
  }

  .journal-list a {
    display: block;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }
  .ic--baseline-plus {
    display: inline-block;
  }
  .feature-button > a {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-links span {
    display: none;
  }

  .feature-content {
    display: grid;
  }

  header h1 {
    font-size: 64px;
  }

  .call-to-action h4 {
    font-size: 32px;
  }

  .journal-list {
    display: grid;
    justify-content: center;
  }

  .journal-list a {
    display: block;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .nav-links span {
    display: none;
  }

  .testimonial-text {
    padding-inline: 105px;
  }

  .journal-list {
    display: grid;
    justify-content: center;
  }

  .journal-list a {
    display: inline-flex;
    margin-top: 30px;
    width: fit-content;
    margin-left: 40%;
  }
  .feature-journal {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .journal-list a {
    width: 100%;
    justify-content: center;
  }
}

.nav-links {
  a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  a span {
    display: inline-flex;
    align-items: center;
  }

  a span img {
    display: block;
  }
}
